<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Baget" value="http://nuget.aepserver.it/v3/index.json" allowInsecureConnections="true" />
    </packageSources>

    <!-- Opzionale: limitare quali pacchetti vengono risolti da quale sorgente -->
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="Baget">
            <package pattern="TinyAppEngine*" />
        </packageSource>
    </packageSourceMapping>

    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>

    <config>
        <!-- esempio: personalizzare la cartella dei pacchetti (opzionale) -->
        <!-- <add key="globalPackagesFolder" value="%USERPROFILE%\.nuget\packages" /> -->
    </config>
</configuration>